.bigslider
    .bigslider-item(style="background-image: url('img/bigslider/bg-01.jpg');")
        .bigslider-box.wrapper
            h1.bigslider-header Предоставляем услуги по обучению детей и взрослых в разных возрастных категориях и форматах
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka2') Оставить заявку

    .bigslider-item(style="background-image: url('img/bigslider/bg-02.jpg');")
        .bigslider-box.wrapper
            .bigslider-header Программы танцевального развития для детей и взрослых разного уровня подготовки
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka2') Оставить заявку

    .bigslider-item(style="background-image: url('img/bigslider/bg-03.jpg');")
        .bigslider-box.wrapper
            .bigslider-header Мы видим в учениках личностей, стремимся познакомиться с ними и узнать их ближе, радуемся достижениям
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka2') Оставить заявку

    .bigslider-item(style="background-image: url('img/bigslider/bg-04.jpg');")
        .bigslider-box.wrapper
            .bigslider-header Однажды став частью Азбуки Балета, ученики остаются с нами на годы, школа становится для них вторым домом
            //- .bigslider-descr Пояснительный дополнительный текст к слайду на пару строк текста сжато по сути
            a.bigslider-btn.btn.popup_content(href='#zayavka2') Оставить заявку
