header#header.header
	.wrapper
		a(href="#", title="title").header-logo
			.header-logo__img
				img(src="img/logo.svg", alt="")
			.header-logo__sitename
				span Школа детского балета<br> в г.Ростов-на-Дону

		.header-box-contacts
			.header-box-contacts__mail
				a(href="mailto:LittleFairies@gmail.com") LittleFairies@gmail.com
			.header-box-contacts__tel
				a(href="tel:+78630000000") +7 (863) 000-00-00
			//- .header-box-contacts__btn
				a.btn.popup_content(href='#zayavka2') Обратная связь

			//- include ../includes/socbtn
