section#about.about.bg-akcent
	.wrapper
		//- h1.section-header Интернет магазин 1-й спортивный - поставка качественного спортивного инвентаря на Российский рынок
		h1.section-header Коротко о нас

		//- figure.imgPost.left
			img(src='./../../img/about.jpg' alt='alt')
			figcaption Далеко-далеко за словесными горами в стране

		img(src='img/about.jpg' alt='alt').about-img

		p В чем особенности детского балета?
		p Обучение балетному искусству начинается с 3-х лет, в этом возрасте ребенок может сознательно выполнять требования преподавателя.
		p Балет положительно влияет с точки зрения физического развития, и укрепляет эмоциональное состояние.
		//- h3 Занятия помогут ребенку:
		//- ul
		//- 	li Стать морально устойчивым
		//- 	li Быть эрудированным
		//- 	li Понять собственное тело
		//- 	li Придерживаться распорядка дня
		//- 	li Стать воспитанным и сдержанным
		//- 	li Улучшить манеру поведения

		h3 Положительное физическое воздействие:
		ul
			li Поддержание организма в тонусе
			li Правильное развитие мышц и скелета
			li Формирование осанки
			li Укрепление иммунитета
		p Занятия балетом в нашей школе, несомненно, способствуют формированию личности ребенка. И это очень важно для полноценного развития ребенка.
		p Присоединяйтесь к нашей большой и дружной семье! Пусть у вашего ребенка будет незабываемое детство, наполненное удовольствием от занятий балетом, и меньше «общения» с гаджетами!

		//- hr


		//-.about-number-box
			.about-number-item
				//- img(src="./../../img/icons/social/odnoklassniki.svg", alt="").about-number-img
				.about-number-title 23
				.about-number-text года деятельности в юридической сфере
			.about-number-item
				//- img(src="./../../img/icons/social/twitter.svg", alt="").about-number-img
				.about-number-title 6
				.about-number-text лет деятельности арбитражным управляющим
			.about-number-item
				//- img(src="./../../img/icons/social/youtube.svg", alt="").about-number-img
				.about-number-title 90
				.about-number-text процентов выигранных дел
			.about-number-item
				//- img(src="./../../img/icons/social/odnoklassniki.svg", alt="").about-number-img
				.about-number-title 15
				.about-number-text лучших специалистов
			.about-number-item
				//- img(src="./../../img/icons/social/twitter.svg", alt="").about-number-img
				.about-number-title 500
				.about-number-text Постоянных клиентов
			.about-number-item
				//- img(src="./../../img/icons/social/youtube.svg", alt="").about-number-img
				.about-number-title 5000
				.about-number-text Более 5000 разрешенных дел
