mixin price-item(src, title, descr)
	.price-item
		.price-item__img
			img(src="img/price/"+src, alt="")
		.price-item__box
			.price-item__title #{title}
			.price-item__descr #{descr}
			a.price-item__btn.btn.popup_content(href="#zayavka2") Узнать больше




section#price.price
	.wrapper
		h2.section-header.text-center Наши группы
		.section-descr В «Little Fairies» можно заниматься с любого возраста, любого уровня подготовки, с любыми физическими данными!
		.price-box

			+price-item(
				'01.jpg',
				'Онлайн уроки',
				'Зачем вам онлайн занятия если они полноценно не заменяют занятия хореографией в балетном классе?'
			)

			+price-item(
				'02.jpg',
				'2+ года',
				'Малыши начинают знакомство с балетом, поэтому наша задача — увлечь и заинтересовать их.'
			)

			+price-item(
				'03.jpg',
				'3-4 года',
				'Дети сами занимаются в зале, но по необходимости мама может присутствовать на занятии.'
			)

			+price-item(
				'04.jpg',
				'5-6 лет',
				'Урок длится 60 минут, программа усложняется. Дети занимаются партерной гимнастикой и растяжкой.'
			)

			+price-item(
				'05.jpg',
				'7+ лет',
				'Ученики учат сложные хореографические связки, улучшают растяжку.'
			)

			+price-item(
				'06.jpg',
				'16+',
				'По большому запросу от родителей и не только, мы открыли группу «балет для взрослых».'
			)
